*,
::after,
::before,
:root {
	margin: 0;
	padding: 0;
	box-sizing: border-box
}

body,
html {
	height: 100%
}

body {
	color: #252934;
	background: #fafafa;
	font-size: 62.5%;
	font-family: Overlock, Arial, Helvetica, sans-serif;
	overflow-x: hidden
}

a,
a:visited {
	color: #252934;
	font-size: 1.4rem;
	text-decoration: none;
	transition: .2s
}

a:active,
a:hover {
	color: #f300b4
}

.menu-container.active>.overlay,
.menu-container>.overlay {
	position: absolute;
	right: 0;
	height: calc(100vh - 120px);
	width: calc(100vw - 120px);
	background: #fafafa
}

.menu-container.active>.overlay {
	-webkit-animation: overlay-slide-in .3s forwards .3s;
	animation: overlay-slide-in .3s forwards .3s
}

@-webkit-keyframes overlay-slide-in {
	from {
		width: calc(100vw - 120px)
	}
	to {
		width: 0
	}
}

@keyframes overlay-slide-in {
	from {
		width: calc(100vw - 120px)
	}
	to {
		width: 0
	}
}

.menu-container>.overlay {
	-webkit-animation: overlay-slide-out .3s forwards;
	animation: overlay-slide-out .3s forwards
}

@-webkit-keyframes overlay-slide-out {
	from {
		left: 0;
		width: 0
	}
	to {
		left: 0;
		width: calc(100vw - 120px)
	}
}

@keyframes overlay-slide-out {
	from {
		left: 0;
		width: 0
	}
	to {
		left: 0;
		width: calc(100vw - 120px)
	}
}

.menu-container {
	position: fixed;
	height: 100vh;
	width: 100vw;
	background: #202934;
	border: 60px solid #181d23;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden
}

.menu-container::after,
.menu-container::before {
	content: '';
	position: absolute;
	width: 100%;
	min-height: 100vh;
	z-index: -1
}

.menu-container::before {
	background: url(https://raw.githubusercontent.com/yagoestevez/fcc-portfolio/master/src/Images/Stars.svg?sanitize=true)
}

.menu-container::after {
	background: url(https://raw.githubusercontent.com/yagoestevez/fcc-portfolio/master/src/Images/Trees.svg?sanitize=true) bottom repeat-x
}

.menu-container.deactive {
	-webkit-animation: fade-out .6s forwards;
	animation: fade-out .6s forwards
}

@-webkit-keyframes fade-out {
	0% {
		opacity: 1;
		z-index: 999
	}
	50% {
		opacity: 1;
		z-index: 999
	}
	100% {
		opacity: 0;
		z-index: -1
	}
}

@keyframes fade-out {
	0% {
		opacity: 1;
		z-index: 999
	}
	50% {
		opacity: 1;
		z-index: 999
	}
	100% {
		opacity: 0;
		z-index: -1
	}
}

.menu-container.active {
	-webkit-animation: fade-in .3s forwards;
	animation: fade-in .3s forwards
}

@-webkit-keyframes fade-in {
	from {
		opacity: 0;
		z-index: -1
	}
	to {
		opacity: 1;
		z-index: 999
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
		z-index: -1
	}
	to {
		opacity: 1;
		z-index: 999
	}
}

.menu-container .social,
.menu-container ul {
	margin-left: -80px;
	opacity: 0;
	-webkit-animation: slide-out .2s forwards;
	animation: slide-out .2s forwards
}

.menu-container ul {
	list-style-type: none!important;
	font-size: 3rem
}

@-webkit-keyframes slide-out {
	from {
		opacity: 1;
		margin-left: 0
	}
	to {
		opacity: 0;
		margin-left: -80px
	}
}

@keyframes slide-out {
	from {
		opacity: 1;
		margin-left: 0
	}
	to {
		opacity: 0;
		margin-left: -80px
	}
}

.menu-container.active .social,
.menu-container.active ul {
	-webkit-animation: slide-in .3s forwards .6s;
	animation: slide-in .3s forwards .6s
}

@-webkit-keyframes slide-in {
	from {
		opacity: 0;
		margin-left: -80px
	}
	to {
		opacity: 1;
		margin-left: 0
	}
}

@keyframes slide-in {
	from {
		opacity: 0;
		margin-left: -80px
	}
	to {
		opacity: 1;
		margin-left: 0
	}
}

.menu-container ul li {
	border-left: .2rem solid transparent;
	transition: border-left .2s
}

.menu-container ul li a {
	font-size: 3rem;
	padding-left: .5rem
}

.menu-container ul li a::after {
	content: ' »';
	font-size: 2.5rem;
	color: transparent;
	transition: color .2s
}

.menu-container ul li a:hover::after {
	content: ' »';
	color: #f300b4
}

.social {
	padding: 1rem 0 0 .5rem
}

.social a {
	font-size: 1.5rem;
	padding: .2rem
}

.menu-container a,
.menu-container a:visited {
	color: #fafafa
}

.menu-container a:active,
.menu-container a:hover {
	color: #f300b4
}

@media only screen and (max-width:649px) {
	.menu-container {
		border: none
	}
	.menu-container.active>.overlay,
	.menu-container>.overlay {
		height: 100vh;
		width: 100vw
	}
	.menu-container.active>.overlay {
		-webkit-animation: overlay-slide-in .3s forwards .3s;
		animation: overlay-slide-in .3s forwards .3s
	}
	@-webkit-keyframes overlay-slide-in {
		from {
			width: 100vw
		}
		to {
			width: 0
		}
	}
	@keyframes overlay-slide-in {
		from {
			width: 100vw
		}
		to {
			width: 0
		}
	}
	.menu-container>.overlay {
		-webkit-animation: overlay-slide-out .3s forwards;
		animation: overlay-slide-out .3s forwards
	}
	@-webkit-keyframes overlay-slide-out {
		from {
			left: 0;
			width: 0
		}
		to {
			left: 0;
			width: 100vw
		}
	}
	@keyframes overlay-slide-out {
		from {
			left: 0;
			width: 0
		}
		to {
			left: 0;
			width: 100vw
		}
	}
}

#navbar {
	position: fixed;
	z-index: 9999;
	width: 100%;
	padding: 1rem;
	display: flex;
	justify-content: center
}

#navbar.bg-active {
	background: #181d23
}

#navbar .nav-wrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1400px;
	padding: 0 2rem
}

#navbar .brand {
	font-size: 1.6rem;
	color: #fafafa;
	cursor: default
}

.menu-button {
	position: relative;
	height: 22px;
	width: 30px;
	outline: 0
}

.menu-button span,
.menu-button span::after,
.menu-button span::before {
	position: absolute;
	content: '';
	width: 30px;
	height: 3px;
	background: #fafafa;
	transition: .5s cubic-bezier(.77, 0, .175, 1)
}

.menu-button span {
	position: relative;
	display: block;
	top: 50%;
	transform: translate(0, -50%)
}

.menu-button span::before {
	top: -8px
}

.menu-button span::after {
	top: 8px
}

.menu-button:hover>span,
.menu-button:hover>span::after,
.menu-button:hover>span::before {
	background: #f300b4
}

.menu-button.active>span {
	background: 0 0
}

.menu-button.active>span::before {
	transform: rotate(-225deg);
	top: 0
}

.menu-button.active>span::after {
	transform: rotate(225deg);
	top: 0
}

@media only screen and (max-width:849px) {
	#navbar {
		background: #181d23aa
	}
}

#welcome-section {
	background: #202736;
	background: linear-gradient(to bottom, #181d23 0, #202736 80%);
	background-attachment: fixed;
	background-size: cover;
	position: relative;
	min-height: 100vh;
	margin: 0 auto;
	z-index: 1
}

#welcome-section::before {
	content: '';
	position: fixed;
	background: url(https://raw.githubusercontent.com/yagoestevez/fcc-portfolio/master/src/Images/Stars.svg?sanitize=true);
	background-attachment: fixed;
	width: 100%;
	min-height: 100vh;
	z-index: -1;
	opacity: 0;
	-webkit-animation: stars-move-in 1s .3s forwards;
	animation: stars-move-in 1s .3s forwards
}

@-webkit-keyframes stars-move-in {
	from {
		background-position-y: -100px
	}
	to {
		opacity: 1;
		background-position-y: 0
	}
}

@keyframes stars-move-in {
	from {
		background-position-y: -100px
	}
	to {
		opacity: 1;
		background-position-y: 0
	}
}

.forest {
	position: absolute;
	bottom: -300px;
	left: 0;
	background: url(https://raw.githubusercontent.com/yagoestevez/fcc-portfolio/master/src/Images/Trees.svg?sanitize=true) bottom left repeat-x;
	background-size: cover;
	width: 100%;
	height: 80%;
	opacity: 0;
	-webkit-animation: forest-move-in 1s .5s forwards;
	animation: forest-move-in 1s .5s forwards;
	border-bottom: 300px solid #181d23
}

@-webkit-keyframes forest-move-in {
	from {
		background-position-y: 150%
	}
	to {
		opacity: 1;
		background-position-y: 100%
	}
}

@keyframes forest-move-in {
	from {
		background-position-y: 150%
	}
	to {
		opacity: 1;
		background-position-y: 100%
	}
}

.silhouette {
	position: absolute;
	bottom: 0;
	left: 0;
	background: url(https://raw.githubusercontent.com/yagoestevez/fcc-portfolio/master/src/Images/Silhouette.svg?sanitize=true) bottom left no-repeat;
	width: 50%;
	height: 50%;
	opacity: 0;
	-webkit-animation: silhouette-move-in 1s .8s forwards;
	animation: silhouette-move-in 1s .8s forwards
}

@-webkit-keyframes silhouette-move-in {
	from {
		background-position-x: 0
	}
	to {
		opacity: 1;
		background-position-x: 50%
	}
}

@keyframes silhouette-move-in {
	from {
		background-position-x: 0
	}
	to {
		opacity: 1;
		background-position-x: 50%
	}
}

.moon {
	position: absolute;
	top: 0;
	right: 0;
	position: fixed;
	background: url(https://raw.githubusercontent.com/yagoestevez/fcc-portfolio/master/src/Images/Moon.svg?sanitize=true) right 150% no-repeat;
	background-size: 40% 40%;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0;
	-webkit-animation: moon-move-in 1.2s 1s forwards;
	animation: moon-move-in 1.2s 1s forwards
}

@-webkit-keyframes moon-move-in {
	from {
		opacity: 0;
		background-position: right 150%
	}
	to {
		opacity: 1;
		background-position: top right
	}
}

@keyframes moon-move-in {
	from {
		opacity: 0;
		background-position: right 150%
	}
	to {
		opacity: 1;
		background-position: top right
	}
}

#welcome-section .container {
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	position: absolute;
	right: 0;
	top: 50%;
	right: 25%;
	opacity: 0;
	transform: translate(0, -50%);
	-webkit-animation: text-fade-in 1s .8s forwards;
	animation: text-fade-in 1s .8s forwards
}

@-webkit-keyframes text-fade-in {
	from {
		right: 0
	}
	to {
		opacity: 1;
		right: 25%
	}
}

@keyframes text-fade-in {
	from {
		right: 0
	}
	to {
		opacity: 1;
		right: 25%
	}
}

#welcome-section .container h1 {
	font-size: 4rem;
	font-weight: 400;
	font-style: italic;
	color: #fafafa;
	line-height: 3rem
}

#welcome-section .container h1 .line:first-child {
	margin-left: 1rem
}

#welcome-section .container h1 .line:last-child {
	margin-left: 2rem
}

#welcome-section .container .buttons {
	display: flex;
	margin-top: 1rem
}

#welcome-section .container .buttons a,
#welcome-section .container .buttons a:visited {
	width: 100%;
	padding: 1rem;
	border: 1px solid #fafafa;
	color: #fafafa;
	text-align: center;
	text-transform: uppercase;
	font-size: 1rem
}

#welcome-section .container .buttons a:active,
#welcome-section .container .buttons a:hover {
	border: 1px solid #f300b4;
	transform: translateY(-2px);
	box-shadow: 0 10px 100px -20px #f300b4
}

#welcome-section .container .buttons a.cta,
#welcome-section .container .buttons a.cta:visited {
	background: #f300b4;
	border: 1px solid transparent;
	color: #fafafa;
	font-weight: 700
}

#welcome-section .container .buttons a.cta:active,
#welcome-section .container .buttons a.cta:hover {
	background: 0 0;
	border: 1px solid #f300b4
}

#welcome-section .container .buttons a:first-child {
	margin-right: 1rem
}

.line {
	display: block
}

.color {
	color: #f300b4;
	font-style: italic
}

@media only screen and (max-width:649px) {
	#welcome-section .container {
		right: 50%;
		top: 10%;
		width: 80%;
		transform: translate(50%, 0);
		-webkit-animation: text-fade-in 1s .8s forwards;
		animation: text-fade-in 1s .8s forwards
	}
	@-webkit-keyframes text-fade-in {
		from {
			right: 0
		}
		to {
			opacity: 1;
			right: 50%
		}
	}
	@keyframes text-fade-in {
		from {
			right: 0
		}
		to {
			opacity: 1;
			right: 50%
		}
	}
	.silhouette {
		width: 100%
	}
}

#about {
	height: 100%;
	min-height: 100vh;
	font-size: 1.4rem;
	position: relative;
	background: #fafafa;
	-webkit-clip-path: polygon(0 0, 20% 5%, 100% 0, 100% 100%, 80% 95%, 0 100%);
	clip-path: polygon(0 0, 20% 5%, 100% 0, 100% 100%, 80% 95%, 0 100%);
	z-index: 5;
	background: #fafafa url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSu9lYcI6FuJ0BGkgJk_eeFLR3d_m4pc9Gpeg&usqp=CAU) center right no-repeat;
	background-attachment: fixed
}

#about .wrapper {
	padding: 15rem 10rem 12rem;
	height: 100%;
	min-height: 100vh;
	max-width: 1400px;
	margin: 0 auto
}

#about article {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1rem;
	padding: 3rem 0
}

#about .title {
	grid-column-end: span 4;
	display: flex;
	flex-direction: column;
	align-items: center
}

#about .title h3 {
	font-size: 2.4rem
}

#about .separator {
	background: #f300b4;
	width: 150px;
	height: 2px;
	margin: 1rem 0;
	padding: 0
}

#about .subtitle {
	font-size: 1.6rem;
	text-align: center;
	color: inherit;
	padding-bottom: 1.5rem
}

#about p {
	padding-bottom: 1.5rem;
	color: #555;
	line-height: 1.9rem
}

#about .desc.full {
	grid-column-end: span 4;
	margin-bottom: 2rem
}

#about .desc {
	grid-column-end: span 2;
	background: #ffffffaa;
	padding: 2rem;
	text-align: justify
}

@media only screen and (max-width:1149px) {
	#about article {
		grid-template-columns: 1fr;
		grid-gap: 0
	}
	#about .desc.full {
		grid-column-end: -1
	}
	#about .desc {
		grid-column-end: -1
	}
}

@media only screen and (max-width:949px) {
	#about {
		-webkit-clip-path: polygon(0 0, 20% 2%, 100% 0, 100% 100%, 80% 98%, 0 100%);
		clip-path: polygon(0 0, 20% 2%, 100% 0, 100% 100%, 80% 98%, 0 100%);
		background-position: top left;
		background-size: cover
	}
}

@media only screen and (max-width:649px) {
	#about .wrapper {
		padding: 10rem 2rem 8rem
	}
}

#projects {
	min-height: 100vh;
	font-size: 1.4rem;
	position: relative;
	background: #f0f0f0;
	background: linear-gradient(215deg, #f0f0f0 0, #fafafa 100%);
	margin-top: -10rem;
	z-index: 1
}

#projects a,
#projects a:visited {
	color: #f300b4
}

#projects a:active,
#projects a:hover {
	color: #252934
}

#projects .projects-container {
	max-width: 1400px;
	margin: 0 auto;
	width: 100%;
	padding: 12rem 5rem 8rem
}

#projects .heading .title {
	text-align: center;
	font-size: 2.4rem;
	line-height: 2.4rem
}

#projects .heading .separator {
	background: #f300b4;
	width: 150px;
	height: 2px;
	margin: 1rem auto
}

#projects .heading .subtitle {
	font-size: 1.4rem;
	text-align: center;
	width: 70%;
	margin: 0 auto;
	text-align: justify
}

#projects .project {
	margin: 1rem auto;
	width: 70%;
	padding: 2rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	grid-gap: 2rem
}

#projects .project .project-link {
	display: block;
	margin: auto 0;
	color: #252934;
	overflow: hidden;
	text-align: center;
	border-radius: 50%;
	border: 1px solid #fafafa;
	box-shadow: 0 20px 10px -10px #25293450;
	transition: .3s
}

#projects .project .project-link:hover {
	box-shadow: 0 50px 15px -30px #25293450
}

#projects .project .project-link:hover>img {
	filter: saturate(1);
	transform: scale(1.05)
}

#projects .project .project-image {
	width: 100%;
	transform: scale(1.2);
	filter: saturate(0);
	transition: all .3s
}

#projects .project .project-details {
	margin: auto 0
}

#projects .project-details .project-tile {
	font-size: 2rem;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 0;
	color: #f300b4
}

#projects .project-details .icons {
	margin: 0;
	color: #252934
}

#projects .project-details .icons i {
	margin-right: .4rem;
	font-weight: 400;
	font-size: 1.4rem
}

#projects .project-details small {
	font-style: italic
}

#projects .project-details p {
	margin: 1rem 0
}

#projects .project-details .buttons {
	display: flex;
	justify-content: space-between
}

#projects .project-details .buttons a {
	width: 49%;
	padding: .5rem;
	border: none;
	border-bottom: 1px solid #f300b4;
	color: #252934;
	background: #fafafa;
	font-size: 1.2rem;
	text-align: center
}

#projects .project-details .buttons a:hover {
	background: #f300b4;
	color: #fafafa
}

#projects .project-details .buttons i {
	font-size: .8rem;
	vertical-align: middle;
	margin-left: .5rem
}

@media only screen and (max-width:1149px) {
	#projects .project {
		grid-template-columns: 1fr 2fr
	}
}

@media only screen and (max-width:949px) {
	#projects .project {
		grid-template-columns: 1fr
	}
}

@media only screen and (max-width:649px) {
	#projects {
		background: #f0f0f0
	}
	#projects .projects-container {
		padding: 12rem 0 8rem
	}
	#projects .project {
		padding: 2rem 0
	}
}

#contact {
	background: #181d23 url(https://raw.githubusercontent.com/yagoestevez/fcc-portfolio/master/src/Images/envelope.svg?sanitize=true) no-repeat right;
	-webkit-clip-path: polygon(0 0, 20% 100px, 100% 0, 100% 100%, 0 100%);
	clip-path: polygon(0 0, 20% 100px, 100% 0, 100% 100%, 0 100%);
	color: #fafafa;
	min-height: 100vh;
	width: 100%;
	padding: 5rem 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin: -100px 0 140px;
	z-index: 1
}

#contact .container {
	width: 70%;
	max-width: 1200px;
	padding: 25vh 0
}

#contact .container .heading-wrapper {
	display: flex;
	justify-content: space-between
}

#contact .heading-wrapper .social a {
	color: #fafafa
}

#contact .heading-wrapper .social a:hover {
	color: #f300b4
}

.heading-wrapper .heading .title {
	font-size: 3rem;
	line-height: 2.4rem
}

.heading-wrapper .heading .separator {
	background: #f300b4;
	width: 150px;
	height: 2px;
	margin: 1rem 0
}

.heading-wrapper .heading .subtitle {
	font-size: 1.4rem
}

#contact-form {
	margin-top: 1rem
}

input,
textarea {
	border: none;
	padding: 1rem;
	font-family: Overlock, Arial, Helvetica, sans-serif;
	width: 100%;
	height: 40%;
	transition: .2s
}

input[type=email],
input[type=email]:not(output):not(:focus),
input[type=text],
input[type=text]:not(output):not(:focus),
textarea {
	border-bottom: 1px solid #fafafa;
	background: 0 0;
	color: #fafafa;
	font-size: 1.8rem;
	box-shadow: none;
	outline: 0
}

input[type=email]:focus,
input[type=email]:not(output):focus,
input[type=text]:focus,
input[type=text]:not(output):focus,
textarea:focus {
	border-bottom: 1px solid #f300b4
}

input[type=submit] {
	background: #f300b4;
	color: #fafafa;
	margin-top: 1rem;
	width: auto;
	float: right
}

input[type=submit]:focus,
input[type=submit]:hover {
	cursor: pointer;
	color: #333;
	background: #fafafa
}

::-moz-placeholder {
	color: #fafafa
}

:-ms-input-placeholder {
	color: #fafafa
}

::placeholder {
	color: #fafafa
}

.mail {
	display: inline-block;
	font-style: italic
}

.mail .at,
.mail .dot {
	font-size: .9rem;
	margin: 0 .1rem;
	color: #f300b4
}

@media only screen and (max-width:1149px) {
	#contact .social a {
		display: block
	}
}

@media only screen and (max-width:649px) {
	#contact {
		-webkit-clip-path: polygon(0 0, 20% 5%, 100% 0, 100% 100%, 0 100%);
		clip-path: polygon(0 0, 20% 5%, 100% 0, 100% 100%, 0 100%);
		padding: 0
	}
}

footer {
	font-size: 1rem;
	display: flex;
	justify-content: center;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 150px;
	background: #fafafa;
	z-index: 0
}

footer .wrapper {
	display: flex;
	width: 100%;
	padding: 2rem;
	max-width: 1400px;
	align-items: center;
	justify-content: space-between
}

@media only screen and (max-width:649px) {
	footer .wrapper {
		flex-direction: column
	}
	footer .wrapper h3 {
		padding-bottom: .8rem
	}
}
